/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    --color-text: #111;
    --color-background: #eee;
}

@font-face {
    font-family: Audi-type;
    src: url(/fonts/AudiTypeVF_Lat.woff2);
}

img { 
    margin-top: auto;
    padding: 0px;
    height: 30px;
    margin-left: 0px;
}

.feedback { 
    position: fixed;
    right: 0em;
    top: 6.5em;
    height: 110px;
    width: 30px;
    z-index: 100;
}

.logo { 
    margin-top: auto;
    height: 28px;
    margin-left: 70px;
}

.zoek-icoon {
position: absolute;
height: 20px;
width: auto;
right: 7em;
}

nav { 
    margin: 0px;
    margin-bottom: -8px;
    padding: 0%;
}

ul { 
    color: #666666;
    list-style: none;
    padding: 0;
    margin: 23px;
    display: flex;
    justify-content: left;
    align-items: center;
}

li {
    color: #666666;
    font-family: Audi-type;
    font-size: 17px; 
    margin-bottom: 0px;
    margin-right: 5px;
    margin-left: 28px;
}

ul li:hover {
    color: black; 
}

h2 { 
    display: flex;
    justify-content: center;
    font-family: Audi-type;
    font-size: 30px;
    font-weight: 400;
    margin: 20px;
    margin-top: 70px;
    letter-spacing: 5px;
}

.p-etron { 
    position: absolute; 
    top: 0%;
    padding-top: 180px;
    font-size: 16px;
    font-weight: 200;
    margin-left: 100px;
    margin-bottom: 50px;
    color: white;
    font-family: Audi-type;
    letter-spacing: 2px;
}

.bekijk-a6 { 
    position: absolute;
    top: 0%;
    padding: 18px 50px;
    margin-top: 220px;
    margin-left: 100px;
    font-family: Audi-type;
    color: black;
    background-color: white;
    transition: 500ms;
}

.bekijk-a6:hover {
    background-color: #b3b3b3;
    transition: 500ms;
}

.configureer-a6 { 
    position: absolute;
    top: 0%;
    margin-top: 220px;
    margin-left: 450px;
    padding: 18px 50px;
    font-family: Audi-type;
    font-weight: 100;
    color: white;
    border-style: solid;
    transition: 250ms;
}
.configureer-a6:hover { 
    color: #b3b3b3;
    transition: 250ms;
}

.balk { 
    display: block;
    height: 50px;
    width: 100%;
    margin-top: -10px;
    background-color: black;
}

.witte-balk { 
    display: block;
    height: 50px;
    width: 100%;
    margin-top: -10px;
    background-color: white;
}

.klik-alle-modellen { 
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-family: Audi-type;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    color: #111;
}

.klik-alle-modellen:hover {
color: #4c4c4c;
transition: 500ms;
}

.etron img {
    position: relative;
    background-size: cover;
    text-align: center;
    color: white;
    width: 100%;
    height: 100vh;
    filter: brightness(85%) contrast(120%);
}

.etron h1 { 
    position: absolute; 
    top: 0%;
    padding-top: 110px;
    font-size: 40px;
    font-weight: 400;
    margin-left: 100px;
    margin-bottom: 50px;
    color: white;
    font-family: Audi-type;
    letter-spacing: 3px;
}

.uitgelichte-modellen img { 
    width: 100%;
    height: 100vh;
}

.uitgelichte-modellen .a3 {
    position: absolute;
    top: 10%;
    margin-top: 1350px;
    margin-left: 425px;
    left: 0em;
    height: 250px;
    width: 600px;
}

.brandstofverbruik { 
padding: 1.5em;
color: #666666;
margin-left: 100px;
font-family: Audi-type;
font-size: small;
}

video { 
    width: 100%; 
    height: 100vh; 
    object-fit: cover; /* Zorgt ervoor dat de video proportioneel wordt uitgerekt zonder vervorming */
}

.groep1 img { 
width: 80vh;
height: 40vh;
margin-left: 60px;   
margin-bottom: -50px;
margin-top: 60px;
}


@media screen and (max-width: 375px) {

    .etron h1 { 
        font-size: 28px;
        margin-left: 50px;
       
    }

    .bekijk-a6 { 
        margin-top: 550px;
        margin-left: 50px;
        margin-right: 50px;
        color: white;
        background-color: black;
    }
    .p-etron { 
        position: absolute; 
        top: 0%;
        margin-top: 10px;
        font-size: 16px;
        font-weight: 200;
        margin-left: 50px;
        margin-bottom: 50px;
        color: white;
        font-family: Audi-type;
        letter-spacing: 2px;
    }

    li { 
        font-size: 0px; 
    }

}




