/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    --color-text: #111;
    --color-background: #eee;
}

@font-face {
    font-family: Audi-type;
    src: url(../fonts/AudiTypeVF_Lat.woff2);
}

body { 
    font-family: Audi-type;
}

img { 
    margin-top: auto;
    padding: 0px;
    height: 30px;
    margin-left: 0px;
}

.feedback { 
    position: fixed;
    right: 0em;
    top: 6.5em;
    height: 110px;
    width: 30px;
    z-index: 100;
}

.logo { 
    margin-top: auto;
    height: 28px;
    margin-left: 70px;
}

.zoek-icoon {
position: absolute;
height: 20px;
width: auto;
right: 7em;
}

nav { 
    margin: 0px;
    margin-bottom: -8px;
    padding: 0%;
}

ul { 
    color: #666666;
    list-style: none;
    padding: 0;
    margin: 23px;
    display: flex;
    justify-content: left;
}

.hoofd-nav li {
    color: #666666;
    font-family: Audi-type;
    font-size: 17px; 
    margin-bottom: 0px;
    margin-right: 5px;
    margin-left: 28px;
}

.hoofd-nav a { 
    color: #666666;
    font-family: Audi-type;
    font-size: 17px; 
    margin-bottom: 0px;
    margin-right: 5px;
    margin-left: 0px;
    text-decoration: none;
}

.hoofd-nav a:hover { 
    color: black;   
}


.hoofd-nav li:hover {
    color: black; 
}

.elektrisch-hoofd-nav li {
    color: #666666;
    font-family: Audi-type;
    font-size: 17px; 
    margin-bottom: 0px;
    margin-right: 10px;
    margin-left: 28px;
}

.elektrisch-hoofd-nav a { 
    color: #666666;
    font-family: Audi-type;
    font-size: 17px; 
    margin-bottom: 0px;
    margin-right: 5px;
    margin-left: 0px;
    text-decoration: none;
}

.elektrisch-hoofd-nav a:hover { 
    color: black;   
}

.elektrisch-hoofd-nav li:hover {
    color: black; 
}

h2 { 
    display: flex;
    justify-content: center;
    font-family: Audi-type;
    font-size: 30px;
    font-weight: 400;
    margin: 20px;
    margin-top: 70px;
    letter-spacing: 5px;
}

.p-etron { 
    position: absolute; 
    top: 0%;
    margin-top: 180px;
    font-size: 16px;
    font-weight: 200;
    margin-left: 100px;
    margin-bottom: 50px;
    color: white;
    font-family: Audi-type;
    letter-spacing: 2px;
}

.bekijk-a6 { 
    position: absolute;
    top: 0%;
    padding: 18px 50px;
    margin-top: 220px;
    margin-left: 100px;
    font-family: Audi-type;
    color: black;
    background-color: white;
    transition: 500ms;
}

.bekijk-a6:hover {
    background-color: #b3b3b3;
    transition: 500ms;
}

.configureer-a6 { 
    position: absolute;
    top: 0%;
    margin-top: 220px;
    margin-left: 450px;
    padding: 18px 50px;
    padding-bottom: 15px;
    font-family: Audi-type;
    font-weight: 100;
    color: white;
    border-style: solid;
    transition: 250ms;
}
.configureer-a6:hover { 
    color: #b3b3b3;
    transition: 250ms;
}

.balk { 
    display: block;
    height: 50px;
    width: 100%;
    margin-top: -10px;
    background-color: black;
}

.witte-balk { 
    display: block;
    height: 50px;
    width: 100%;
    margin-top: -10px;
    background-color: white;
}

.klik-alle-modellen { 
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-family: Audi-type;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    color: #111;
}

.klik-alle-modellen:hover {
color: #4c4c4c;
transition: 500ms;
}

.etron img {
    position: relative;
    background-size: cover;
    text-align: center;
    color: white;
    width: 100%;
    height: 100vh;
    filter: brightness(85%) contrast(120%);
}

.etron h1 { 
    position: absolute; 
    top: 0%;
    margin-top: 110px;
    font-size: 40px;
    font-weight: 400;
    margin-left: 100px;
    margin-bottom: 50px;
    color: white;
    font-family: Audi-type;
    letter-spacing: 3px;
}

.uitgelichte-modellen img { 
    width: 100%;
    height: 100vh;
}

.uitgelichte-modellen .a3 {
    position: absolute;
    top: 10%;
    left: 0em;
    height: 350px;
    margin-top: 1350px;
    margin-left: 70vh;
    height: auto;
    width: 50vh;
}

.brandstofverbruik { 
padding: 1.5em;
color: #666666;
margin-left: 100px;
font-family: Audi-type;
font-size: small;
}

video { 
    width: 100%; 
    height: 100vh; 
    object-fit: cover; /* Zorgt ervoor dat de video proportioneel wordt uitgerekt zonder vervorming */
}

.play-q6 h1 {
    position: absolute;
    color: white;
    margin-top: 1em;
    font-family: Audi-type;
    letter-spacing: 3px;
    font-size: 40px;
    font-weight: 400;
    margin-left: 100px;
}

.play-q6 p { 
    position: absolute;
    color: #e5e5e5;
    margin-top: 5em;
    font-family: Audi-type;
    letter-spacing: 3px;
    font-size: 20px;
    font-weight: 400;
    margin-left: 100px; 

}

.bekijk-q6 { 
    position: absolute;
    top: 0%;
    padding: 18px 50px;
    margin-top: 2160px;
    margin-left: 100px;
    font-family: Audi-type;
    color: black;
    background-color: white;
    text-decoration: none;
    transition: 500ms;
}

.bekijk-q6:hover { 
   background-color: #b3b3b3;
   transition: 500ms;
}

.configureer-q6 { 
    position: absolute;
    top: 0%;
    padding: 18px 50px 15px;
    margin-top: 2160px;
    margin-left: 385px;
    border-style: solid;
    font-family: Audi-type;
    color: white;
    text-decoration: none;
    transition: 500ms;
}

.groep1 img { 
width: 80vh;
height: 40vh;
margin-left: 60px;   
margin-bottom: -50px;
margin-top: 60px;
filter: brightness(75%);

}

.groep1 h2 { 
    z-index: 100;
}

h2.bekijk-audi-q5 {
    position: absolute;
    color: #e5e5e5;
    margin-left: 220px;
    margin-top: 300px;
    font-size: 24px;
    letter-spacing: 2px;
}

h2.op-de-hoogte{ 
    position: absolute;
    color: #e5e5e5;
    margin-left: 900px;
    margin-right: 120px;
    margin-top: -40px;
    font-size: 24px;
    letter-spacing: 2px;
}

h2.stories-progress { 
    position: absolute;
    color: #e5e5e5;
    margin-left: 260px;
    margin-top: 300px;
    font-size: 24px;
    letter-spacing: 2px;  
}

h2.audi-nieuws {
    position: absolute;
    color: #e5e5e5;
    margin-left: 900px;
    margin-top: -40px;
    font-size: 24px;
    letter-spacing: 2px; 
}

.volledig-elektrische-modellen img { 
    position: relative;
    background-size: cover;
    text-align: center;
    color: white;
    width: 100%;
    height: 100vh;
    filter: brightness(85%) contrast(120%);
}

.gerelateerde-pagina {
    display: flex;
    justify-content: left;
    color: #111;
    font-family: Audi-type; 
    font-size: 20px;
    letter-spacing: 2px;
}

.tweede-navigatie { 
    padding: 0%;
    margin: 0;
}

.volledig-elektrische-modellen h1 { 
    position: absolute;
    color: white;
    margin-top: 1em;
    font-family: Audi-type;
    letter-spacing: 3px;
    font-size: 40px;
    font-weight: 400;
    margin-left: 90px;
    margin-top: -800px;

}

.elektrisch-volgens-audi h1{ 
    font-family: Audi-type;
    font-weight: 300;
    font-size: 40px;
    color:#333333;
    margin-top: 3em;
    margin-bottom: -20px;
    margin-left: 120px;
    letter-spacing: 3px;
}

.elektrisch-volgens-audi p { 
    font-family: Audi-type;
    text-align: left;
    color:#333333;
    margin-top: 3em;
    margin-left: 120px;
    margin-right: 160px;
    margin-bottom: 8em;
    line-height: 30px;

}

.audi-a6-avant h1 { 
    font-family: Audi-type;
    font-weight: 300;
    font-size: 40px;
    margin-top: 3em;
    margin-bottom: 20px;
    margin-left: 120px;
    letter-spacing: 3px;
    color:#333333;
}

.audi-a6-avant p { 
    font-family: Audi-type;
    text-align: left;
    color:#333333;
    margin-top: 1em;
    margin-left: 120px;
    margin-right: 160px;
    margin-bottom: -3em;
    line-height: 30px;

}

.audi-a6-avant img { 
    position: absolute;
    height: 350px;
    width: auto;
    margin-left: 800px;
    margin-top: 0;
}

.audi-a6-avant ul { 
    flex-direction: column;
    text-align: left;
    margin-left: 170px;
}

.avant-list li { 
margin-top: 50px;
}

.avant-list li::before{ 
position: absolute;
margin-left: -40px;
margin-top: -1em;
content: url("../images/pijltje.svg");
width: 10px;
color: #333333;
font-family: Audi-type;
}

.meer-info-avant { 
position:absolute;
margin-top: 30px;
margin-left: 140px;
}

.configureren-avant { 
    position:absolute;
    margin-top: 30px;
    margin-left: 280px;
}

.meer-info-avant::after { 
    content: url("../images/pijltje.svg");
}

.configureren-avant::after { 
    content: url("../images/pijltje.svg");
}

.audi-a6-sportback h1 { 
    font-family: Audi-type;
    font-weight: 300;
    font-size: 40px;
    margin-top: 3em;
    margin-bottom: 20px;
    margin-left: 120px;
    letter-spacing: 3px;
    color:#333333;
}

.audi-a6-sportback p {
    font-family: Audi-type;
    text-align: left;
    color:#333333;
    margin-top: 1em;
    margin-left: 120px;
    margin-right: 160px;
    margin-bottom: -3em;
    line-height: 30px;
}

.audi-a6-sportback img {
    position: absolute;
    height: 350px;
    width: auto;
    margin-left: 800px;
    margin-top: 0;
}

.sportback-list { 
    flex-direction: column;
    text-align: left;
    margin-left: 170px;
}

.sportback-list li {
    margin-top: 50px;
}

.sportback-list li::before{ 
    position: absolute;
    margin-left: -40px;
    margin-top: -1em;
    content: url("../images/pijltje.svg");
    width: 10px;
    color: #333333;
    font-family: Audi-type;
}

.meer-info-sportback { 
position:absolute;
margin-top: 30px;
margin-left: 140px;
}

.configureren-sportback {
position:absolute;
margin-top: 30px;
margin-left: 280px;
}

.meer-info-sportback::after { 
    content: url("../images/pijltje.svg");

}

.configureren-sportback::after { 
    content: url("../images/pijltje.svg");
    
}

.audi-s6 h1 { 
    font-family: Audi-type;
    font-weight: 300;
    font-size: 40px;
    margin-top: 3em;
    margin-bottom: 20px;
    margin-left: 120px;
    letter-spacing: 3px;
    color:#333333;

}

.audi-s6 p { 
    font-family: Audi-type;
    text-align: left;
    color:#333333;
    margin-top: 1em;
    margin-left: 120px;
    margin-right: 160px;
    margin-bottom: -3em;
    line-height: 30px;
}

.audi-s6 img { 
    position: absolute;
    height: 350px;
    width: auto;
    margin-left: 800px;
    margin-top: 0;
}

.s6-list { 
    flex-direction: column;
    text-align: left;
    margin-left: 170px;
}

.s6-list li { 
    margin-top: 50px;
}

.s6-list li::before { 
    position: absolute;
    margin-left: -40px;
    margin-top: -1em;
    content: url("../images/pijltje.svg");
    width: 10px;
    color: #333333;
    font-family: Audi-type;
}

.meer-info-s6 { 
position:absolute;
margin-top: 30px;
margin-left: 140px;
}

.configureren-s6 { 
position:absolute;
margin-top: 30px;
margin-left: 280px;
}

.meer-info-s6::after { 
content: url("../images/pijltje.svg");
}

.configureren-s6::after { 
content: url("../images/pijltje.svg");
}

.scroll-animatie { 
    display: flex;
    justify-content: center;
    margin-top: 300px;
    margin-bottom: 100px;
    font-size: 50px;
    top: 0%;
    padding: 80px 50px;
    letter-spacing: 3px;
    font-family: Audi-type;
    color: white;
    background-color: black;
}

.scroll-animatie { 
    opacity: 0;
    transform: translateY(10vh);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.visible { 
    opacity: 1;
    transform: translateY(0);
}




@media screen and (max-width: 375px) {

    h2 { 
        margin-left: 2.5em;
        margin-top: 1em;
        font-size: 1.5em;
        display:flex;
    }

    .logo { 
        display: flex;
        justify-content: center;
        height: 24px; 
        width: 69px;
        margin-left: 125px;
    }

    .zoek-icoon { 
        height: 15px;
        right: 2em;
    }

.bekijk-a6 { 
    padding: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 550px;
    font-size: 14px;
    color: white;
    background-color: #111;
}

.configureer-a6 { 
    padding: 20px;
    padding-right: 50px;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 635px;
    font-size: 14px;
    color: black;
}

li { 
    display: none;
}

.zoek-icoon { 
    display: none;
}

.groep1 img { 
 width: 50vh;
 margin-left: 15px;
 margin-right: 10px;
}

.brandstofverbruik { 
    margin-left: 10px;
    margin-right: 10px;
    font-size: 10px;
}

video { 
    width: 100%;
    height: fit-content;
}

.etron h1 { 
    position: absolute; 
    top: 0%;
    font-size: 30px;
    font-weight: 400;
    margin-left: 20px;
    font-family: Audi-type;
}

.p-etron { 
    position: absolute; 
    top: 0%;
    margin-top: 200px;
    font-size: 16px;
    font-weight: 200;
    margin-left: 20px;
    margin-bottom: 50px;
    color: white;
    font-family: Audi-type;
    letter-spacing: 2px;
}

.uitgelichte-modellen .a3 {
    margin-top: 1150px;
    margin-left: 20px;
    height: auto;
    width: 50vh;
}

.etron img {
    width: 100%;
    filter: brightness(85%) contrast(120%);
}

.feedback { 
    top: 4em;
}

}